@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './global';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
